:org.apache.felix.configadmin.revision:=L"2"
Component.target="(&(enabled\=true)(!(service.pid\=Controller.Api.ModbusTcp.ReadOnly.c821dc0d-a50b-453e-b0e9-f07799afdbc4))(|(id\=_sum)))"
_lastChangeAt="2021-03-23T16:08:30"
_lastChangeBy="UNDEFINED"
alias=""
component.ids=[ \
  "_sum", \
  ]
enabled=B"true"
id="ctrlApiModbusTcp0"
maxConcurrentConnections=I"5"
port=I"502"
service.factoryPid="Controller.Api.ModbusTcp.ReadOnly"
service.pid="Controller.Api.ModbusTcp.ReadOnly.c821dc0d-a50b-453e-b0e9-f07799afdbc4"
