:org.apache.felix.configadmin.revision:=L"6"
Component.target="(&(enabled\=true)(!(service.pid\=Controller.Api.ModbusTcp.ReadOnly.fcdfb381-7958-4df3-967b-cf6fca93fa05))(|(id\=_sum)))"
_lastChangeAt="2021-03-08T10:40:07"
_lastChangeBy="admin:\ Admin"
alias=""
component.ids=[ \
  "_sum", \
  ]
enabled=B"false"
id="ctrlApiModbusTcp0"
maxConcurrentConnections=I"5"
port=I"502"
service.factoryPid="Controller.Api.ModbusTcp.ReadOnly"
service.pid="Controller.Api.ModbusTcp.ReadOnly.fcdfb381-7958-4df3-967b-cf6fca93fa05"
