:org.apache.felix.configadmin.revision:=L"1"
_lastChangeAt="2021-03-23T16:08:30"
_lastChangeBy="UNDEFINED"
alias=""
debugMode=B"false"
enabled=B"true"
id="ctrlApiRest0"
port=I"8084"
service.factoryPid="Controller.Api.Rest.ReadOnly"
service.pid="Controller.Api.Rest.ReadOnly.bd85a107-5ef3-429e-8fa8-7293020b1014"
