:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
id="meter3"
mbus.id="mbus0"
mbus.target="(&(enabled\=true)(!(service.pid\=Meter.ABB.B23.193ac835-6776-4ba7-8762-115e21e4982e))(|(id\=mbus0)))"
primaryAddress=I"30"
service.factoryPid="Meter.ABB.B23"
service.pid="Meter.ABB.B23.193ac835-6776-4ba7-8762-115e21e4982e"
type="PRODUCTION"
