:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
id="meter1"
mbus.id="mbus0"
mbus.target="(&(enabled\=true)(!(service.pid\=Meter.ABB.B23.5ee9bee4-928e-42a3-9868-8b93bfde1920))(|(id\=mbus0)))"
primaryAddress=I"10"
service.factoryPid="Meter.ABB.B23"
service.pid="Meter.ABB.B23.5ee9bee4-928e-42a3-9868-8b93bfde1920"
type="PRODUCTION"
