:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
id="meter2"
mbus.id="mbus0"
mbus.target="(&(enabled\=true)(!(service.pid\=Meter.ABB.B23.c4ea45eb-d06c-44cc-a68a-461ace7d99d2))(|(id\=mbus0)))"
primaryAddress=I"20"
service.factoryPid="Meter.ABB.B23"
service.pid="Meter.ABB.B23.c4ea45eb-d06c-44cc-a68a-461ace7d99d2"
type="PRODUCTION"
