:org.apache.felix.configadmin.revision:=L"2"
Modbus.target="(&(enabled\=true)(!(service.pid\=IO.WAGO.6b1cfd87-1425-4250-b5bc-c2952247fd74))(|(id\=modbus0)))"
alias=""
enabled=B"true"
id="io0"
modbus.id="modbus0"
multiplicationFactor=D"4607182418800017408"
password="wago"
service.factoryPid="IO.WAGO"
service.pid="IO.WAGO.6b1cfd87-1425-4250-b5bc-c2952247fd74"
username="admin"
