:org.apache.felix.configadmin.revision:=L"1"
alias=""
database="db"
enabled=B"true"
id="influx0"
ip="localhost"
isReadOnly=B"false"
noOfCycles=I"1"
password="root"
port=I"8086"
retentionPolicy="autogen"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.296e528f-1334-4090-a8ee-915c7cb1472a"
username="root"
